footer
{
    display:flex;
    background-color: #17abb3;
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    justify-content: center;
}

.pied-de-page
{
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: #17abb3;
    width: 250px;
    justify-content: center;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.pied-de-page div
{
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 5px;
}

#update
{
    font-style: italic;
    margin-bottom: 0px;
    margin-top: 5px;
}

.icone-reseaux:hover
{
    opacity: 50%;
}

