@font-face
{
    font-family: "lato", sans-serif;
    src: url(../fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "raleway", sans-serif;
    src: url(../fonts/Raleway-Regular.ttf) format("truetype");
}

h2
{
    color: #17abb3;
}


#header__infos__title
{
    color: white;
}

body
{
    margin: 0;
    background-color: #F5F5F5;
}

#CV
{
    max-width: 1160px;
    margin: 0px;
    font-family: "lato", sans-serif;
    background-color: white;
    justify-self: center;
}
h1, h2, h3, h4
{
    font-family: "raleway", sans-serif;
}

.header
{
    background-color: #17abb3;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
}

.header__photo
{
    flex: 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
    
    /* TODO Border */
    /* margin-right: 20px; */
}

.header__photo img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: white solid 6px;
    object-fit: cover;
}

.header__info
{
    flex: 2;
    margin-left: 20px;
    text-align: center;
}

.content
{
    display: flex;
    padding: 0px;
    margin: 0px;
}

aside
{
    flex: 1;
    background-color: #E3E3E3;
    text-align: justify;
    margin: 0;
    padding: 50px;
    
}
    
main
{
    flex: 2;
    text-align: justify;
    padding: 50px;
}

.profil__description
{
    margin: 0;
    text-indent: 2cap;
}

.has-hover:hover
{
    background-color: #E3E3E3;
}